.folders_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 5vw;
}

.subtitle {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: flex-start;
}

.folder_title {
    color: white;
    font-size: 4vw;
    background: rgb(0,255,198);
    background: linear-gradient(90deg, rgba(0,255,198,1) 0%, rgba(123,243,118,1) 50%, rgba(224,230,0,1) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

.desc {
    color: white;
    padding: 2vh 0;
    font-size: 1.6vw;
}