.folders_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 5vw;
}

.subtitle {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-content: flex-start;
}

.desc_container {
    padding: 1.5vh 0 0 0;
}

.desc {
    color: white;
    font-size: 1.2vw;
}

#swiper_container {
    height: 100%;
    width: 100%;
}

.swiper {
    width: 12vw;
    height: 30vh;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 1.5vw;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }
  
  .swiper-slide:nth-child(4n) {
    background-color: rgb(213, 123, 7)
  }
  
  .swiper-slide:nth-child(5n) {
    background-color: rgb(117, 161, 12);
  }
  
  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }
  
  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }
  
  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }
  
  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }
  
  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }

  .mascot {
    height: 30vh;
    width: 13vw;
  }

  .mascot_folders {
    display: flex;
  }

@media screen and (max-width: 500px) {
  .folders_container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .subtitle {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .desc_container {
    padding: 2vh 0 5vh 0;
  }

  .desc {
    font-size: 4vw;
  }

  .swiper {
    width: 40vw;
  }

  #swiper_container {
    width: 100%;
  }

  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 5vw;
    font-weight: bold;
    color: #fff;
  }
}