.folders_container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 5vw;
}

.subtitle {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-content: flex-start;
}

.folder_title {
    color: white;
    font-size: 4.6rem;
    background: rgb(0,255,198);
    background: linear-gradient(90deg, rgba(0,255,198,1) 0%, rgba(123,243,118,1) 50%, rgba(224,230,0,1) 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
}

.desc_container {
    padding: 1.5vh 0 0 0;
}

.desc {
    color: white;
    font-size: 1.2vw;
}

#swiper_container {
    height: 100%;
}

.swiper {
    width: 12vw;
    height: 30vh;
  }
  
  .swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 1.5vw;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }
  
  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }
  
  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }
  
  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }
  
  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }
  
  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }
  
  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }
  
  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }

  .mascot {
    height: 30vh;
    width: 13vw;
  }

  .mascot_folders {
    display: flex;
  }