.modal {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal_content {
    background-color: rgb(19, 58, 68);
    border-radius: 40px;
    position: absolute;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: 0.7fr 0.3fr;
    grid-template-rows: 0.1fr 0.9fr;
}

.close_bar {
    grid-column: 1 / -1;
    grid-row: 1;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgb(13,48,58);
    border-radius: 40px 40px 0 0;
}

span {
    margin-right: 2%;
    color: white;
    border-radius: 50%;
    font-size: 2.5vw;
}

span:hover {
    cursor: pointer;
}

.summary_container {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    padding: 2vh 1vw;
}

embed {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.metadata_container {
    color: white;
    padding: 2vh 1vw;
    overflow-y: scroll;
    background-color: rgb(22, 68, 80);
    border-radius: 0 0 40px 0;
}

.metadata_container > h2 {
    text-decoration: underline;
    padding-bottom: 2vh;
}

.metadata_container > p {
    padding: 0.4vh 0;
}

.users_container {
    display: flex;
    justify-content: space-evenly;
    padding: 3vh 0;
}

.user_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
}

.user {
    display: flex;
    border: 1px solid white;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    font-size: 3.2em;
    justify-content: center;
}

.user_status {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    border-radius: 50%;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    right: 0;
    bottom: 20%;
    background-color: rgb(13,48,58);
}

.stats_container {
    width: 20vw;
    height: 20vw;
    border-radius: 50px;
    margin: 0 auto;
    position: relative;
    background-color: rgb(13,48,58);
}

#stats_h1 {
    position: absolute;
    margin: 3vh 0 0 2vw;
}

.details_btn {
    width: 70%;
    margin: 2vh auto;
    border: 1px solid white;
    border-radius: 50px;
}

@media screen and (max-width: 500px) {
    .modal_content {
        background-color: rgb(19, 58, 68);
        border-radius: 40px;
        position: absolute;
        width: 80%;
        height: 90%;
        display: grid;
        grid-template-columns: 0.7fr 0.3fr;
        grid-template-rows: 0.07fr 0.93fr;
    }

    .close_bar {
        justify-content: center;
    }

    span {
        font-size: 7vw;
    }
}