.nivo_container {
    width: 20vw;
    height: 20vw;
    position: relative;
}

.percentage_complete {
    position: absolute;
    color: white;
    bottom: 35%;
    left: 40%;
    font-size: 4vh;
}

@media screen and (max-width: 500px) {
    .nivo_container {
        width: 100%;
        height: 100%;
        padding-top: 2vh;
    }

    .percentage_complete {
        font-size: 3em;
        bottom: 32%;
        left: 37%;
    }
}