.bottom_container {
    display: flex;
    justify-content: space-between;
    padding: 0 5vw 2vw 5vw;
}

.recents_h1 {
    font-size: 1.4vw;
    color: white;
    position: absolute;
    margin: 3vh 0 0 2vw;
}

.recents_container {
    background-color: rgb(19, 58, 68);
    width: 48vw;
    height: 20vw;
    border-radius: 50px;
    position: relative;
}

.file_metadata_stats {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    padding: 0 4vw;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
}

.file_metadata_stats:hover {
    background-color: rgb(18,73,83);
    cursor: pointer;
}

.recents_grid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 10vh;
    padding-bottom: 5vh;
    width: 100%;
    height: 100%;
}

.icon_name_stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.img_group_stats {
    display: flex;
}

.img_group_stats > * {
    width: 1.3vw;
    height: 1.3vw;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 0.2vw;
    padding: 0.5vh;
}

.date_size_stats {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.icon_name_stats > p, .date_size_stats > p {
    font-size: 0.8vw;
}

@media screen and (max-width: 500px) {
    .bottom_container {
        flex-direction: column;
        justify-content: space-between;
        gap: 4vh;
        align-items: center;
        padding: 15vh 0 5vh 0;
    }

    .recents_h1 {
        font-size: 10vw;
        margin: 2vh 0 0 24vw;
        border-bottom: 2px solid white;
    }

    .recents_container {
        width: 80vw;
        height: fit-content;
    }

    .recents_grid {
        padding-top: 10vh;
        padding-bottom: 1vh;
        border-radius: 20px;
    }

    .file_metadata_stats {
        display: grid;
        grid-template-columns: 30fr 70fr;
        grid-template-rows: 2fr 1fr;
        padding: 2vh 5vw;
        justify-items: left;
    }

    .file_icon {
        grid-column: 1;
        grid-row: 1 / -1;
        font-size: 15vw;
    }

    .icon_name_stats {
        flex-direction: column;
        width: 100%;
        grid-column: 2;
        grid-row: 1;
        align-items: flex-end;
    }

    .img_group_stats {
        width: 50%;
        justify-content: space-between;
    }

    .img_group_stats > * {
        width: 6vw;
        height: 6vw;
        border: 1px solid white;
        border-radius: 50%;
        margin: 0 0.2vw;
    }

    .date_size_stats {
        grid-column: 2;
        grid-row: 2;
        flex-direction: row;
        width: 100%;
    }

    .icon_name_stats > p, .date_size_stats > p {
        font-size: 4vw;
    }
}