* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(13,48,58);
}

.main {
  background-color: rgb(13,48,58);
  width: 100vw;
  height: 100vh;
  display: flex;
}